.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5f5f5;
}

.menu-bar-wrapper {
  display: flex;
  justify-content: right;
  align-items: center;

  padding: 10px;
  min-width: 1000px;
  width: 80%;
}

.products-table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1000px;
  width: 80%;
}

.menu-bar-item {
  margin-left: 10px;
}

.custom-table-cell {
  white-space: normal;
  word-wrap: break-word;
}