.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-bar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: grey;
  width: 80%;
}

.products-table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  padding: 10px;
  width: 80%;
}